<div class="container">
  <h1>Add New Status</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveStatus()" #statusForm="ngForm">
        <div class="form-group">
          <label for="name">RoomID</label>
          <input type="text" class="form-control" [(ngModel)]="status.RoomID" name="RoomID" required>
        </div>
        <div class="form-group">
          <label for="name">Occupancy</label>
          <input type="text" class="form-control" [(ngModel)]="status.Occupancy" name="Occupancy" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!statusForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>