<div class="container">
  <h1>Room Booking 
    <a [routerLink]="['/booking-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">Make new Booking</span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>RoomID</th>
        <th>Customer Name</th>
        <th>Number of People</th>
        <th>Nric</th>
        <th>Phone Number</th>
        <th>Check-In Date</th>
        <th>Check-Out Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.selected_room }}</td>
        <td>{{ booking.customer_name }}</td>
        <td>{{ booking.numberofpeople }}</td>
        <td>{{ booking.customer_nric }}</td>
        <td>{{ booking.phonenumber }}</td>
        <td>{{ booking.checkindate }}</td>
        <td>{{ booking.checkoutdate }}</td>
        <td><a [routerLink]="['/booking-details', booking._id]">Show Details</a></td>
      </tr>
    </tbody>
  </table>
</div>