<div class="app flex-row align-items-left">   
  <div class = "container">
      <div class = "row"  >
      <div class="col-sm-4" >
      <div class="panel panel-primary" >
          <div class="panel-heading"> Customer Feedback </div>
          <div class="panel-body">
            <button type = "button" routerLink = "/feedback">Feedback Form</button><br></div>
          </div>
          <div class="panel-footer">
         </div>
         
      </div>
      </div>
    </div>
  </div>

  <div class="app flex-row align-items-left">   
    <div class = "container">
        <div class = "row"  >
        <div class="col-sm-4" >
        <div class="panel panel-primary" >
            <div class="panel-heading"> Company Policy </div>
            <div class="panel-body"> The company will fully take responsibility of all the problems that happens related to the hotel, however, problems such as sickness obtained outside of the hotel or any problem obtained outside of the hotel, shall not hold the hotel responsible by any means and so no coverages would be done. Also, the company takes pride in our guests and staff hence, any violence or harassment done to our honored guests and staff shall not be condoned and shall be immediately reported to authorities and lawsuits would be held against anyone that causes violence or intended hurt to anyone of the hotel. The comfort of guests are of our upmost priority and we would do as much as we can to meet the guests needs on our ends, as long as the requests are not of any form of harassment or unreasonable requests. </div>
            <div class="panel-footer"><br>
               
        </div>
        </div>
        </div>
      </div>
    </div>

    <div class="app flex-row align-items-right">   
      <div class = "container">
          <div class = "row"  >
          <div class="col-sm-4" >
          <div class="panel panel-primary" >
              <div class="panel-heading"> Today's Guest's Meal Schedule</div>
              <div class="panel-body"> 0700-1000 Mediterranean Breakfast Buffet<br>
                1300-1600 Italian themed Lunch Buffet<br>
                1900-2200 Korean Dinner Buffet<br>
               </div>
              <div class="panel-footer"><br>
                 
          </div>
          </div>
          </div>
        </div>
      </div>

      <div class="app flex-row align-items-right">   
        <div class = "container">
            <div class = "row"  >
            <div class="col-sm-4" >
            <div class="panel panel-primary" >
                <div class="panel-heading"> Upcoming Events</div>
                <div class="panel-body"> 12-26-2017 Company D&D<br>
                  Company Meeting 15-01-2018 <br> </div>
                <div class="panel-footer"><br>
                   
            </div>
            </div>
            </div>
          </div>
        </div>

        <div class="app flex-row align-items-center">   
          <div class = "container">
              <div class = "row"  >
              <div class="col-sm-4" >
              <div class="panel panel-primary" >
                  <div class="panel-heading">Number of Customers staying in hotel: </div>
                  <div class="panel-body"> 1574 </div>
                  <div class="panel-footer"><br>
                     
              </div>
              </div>
              </div>
            </div>
          </div>
          <div class="app flex-row align-items-center">   
            <div class = "container">
                <div class = "row"  >
                <div class="col-sm-4" >
                <div class="panel panel-primary" >
                    <div class="panel-heading">Rooms Available: </div>
                    <div class="panel-body"> 149 </div>
                    <div class="panel-footer"><br>
                       
                </div>
                </div>
                </div>
              </div>
            </div>