<div class="container">
  <h1>Staff Management
    <a [routerLink]="['/staff-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">New Staff</span>
    </a>
  </h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Identification Number</th>
        <th>Date-Of-Birth</th>
        <th>Bank Account</th>
        <th>Home Address</th>
        <th>Phone Number</th>
        <th>Duty and Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffs">
        <td>{{ staff.name }}</td>
        <td>{{ staff.idnum }}</td>
        <td>{{ staff.dateofbirth }}</td>
        <td>{{ staff.bankaccount }}</td>
        <td>{{ staff.address }}</td>
        <td>{{ staff.number }}</td>
        <td>{{ staff.position }}</td>
        <td><a [routerLink]="['/staff-details', staff._id]">Show Details</a></td>        
      </tr>
    </tbody>
  </table>
</div>
