<div class="container">
  <h1>Add New Monthly</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveMonthly()" #monthlyForm="ngForm">
        <div class="form-group">
          <label for="name">Month</label>
          <input type="text" class="form-control" [(ngModel)]="monthly.Month" name="month" required>
        </div>
        <div class="form-group">
          <label for="name">RoomID</label>
          <input type="text" class="form-control" [(ngModel)]="monthly.RoomID" name="roomid" required>
        </div>
        <div class="form-group">
          <label for="name">Occupancy</label>
          <input type="number" class="form-control" [(ngModel)]="monthly.Occupancy" name="occupancy" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!monthlyForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>