<div class="container">
  <h1>Housekeeping Room: {{ schedule.RoomID }}</h1>
  <dl class="list">
    <dt>RoomID</dt>
    <td>{{ schedule.RoomID }}</td>
    <dt>In-Charge</dt>
    <td>{{ schedule.InCharge }}</td>
    <dt>Status</dt>
    <td>{{ schedule.Status }}</td>    
    <dt>Cleaned Time</dt>
    <td>{{ schedule.Cleanedtime }}</td>
    <dt>Do Not Disturb</dt>
    <td>{{ schedule.donotdisturb }}</td>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/schedule-edit', schedule._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteSchedule(schedule._id)">DELETE</button>
  </div>
</div>