input[type=text], select {
    width: 300px;
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    display:inline-block;
    width:200px;
    margin-right:10px;
    text-align:right;
    }
